body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.narc {
  height: 100vh;
  width: 100vw;
  background-color: #6500d4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.narc-logo {
  margin-top: 5%;
  width: 40%;
  min-width: 300px;
  z-index: 800;
}
.narc > span {
  text-transform: uppercase;
  color: #ffe74c;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: calc(1.5vw + 20px);
  z-index: 800;
}
.narc-radar {
  transform: scale3d(1.7, 1.1, 0.5);
  position: absolute;
  width: 100vw;
  min-width: 300px;
  top: 15vh;
  z-index: 1;
}
.narc-radar > img {
  width: 100%;
  animation: spin infinite 12s linear;
}
.narc__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
  z-index: 999;
  position: absolute;
  bottom: 0;
}
.narc__content > div {
  background-color: black;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.narc__content > div > span > a, .narc__content > div span {
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.narc__content > div > span > a:hover {
  color: #ffe74c;
}
.narc__content > div > div {
  width: 10px;
}
.narc__content > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffe74c;
  font-size: 25px;
}
.narc__content > form > input {
  width: 100%;
  height: 100px;
  background-color: #6500d4;
  outline: none;
  border: 0;
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  font-size: 40px;
  caret-color: #6500d4;
}
.narc__content > form > input:focus {
  background-color: #ffe74c;
  color: #6500d4;
}
.narc__content > form > input:focus::placeholder {
  color: #6500d4;
  opacity: 0.2;
}
.narc__content > form > input::placeholder {
  color: white;
  opacity: 0.2;
}
.narc__content > form > button {
  height: 100px;
  width: 100%;
  background-color: #ffe74c;
  border: 0;
  outline: none;
  color: #6500d4;
  font-family: 'Open Sans';
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
}
.narc__content > form > button:hover {
  cursor: pointer;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
